.footer{
    border-top: 2px solid #51DD78;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
}
.footer h4{
    color: white;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 1px;

}
.footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.footer ul li a{
    color: white;
    font-size: 1.2em;
    transition: color .3s ease;
}
.footer ul li a:hover{
    color: #54b685;
}